/.idea
/project/project
/project/target
/target
/core/target
/example/.idea
/example/project/project
/example/project/target
/example/target
/bin
/modules/threeten/target
/modules/json4s/target
/modules/play-json/target
/modules/jts/target
/modules/common/target
/modules/joda-time/target

.cache
.project
.classpath
.settings