/.idea
/.idea_modules
/project/project
/project/target
/target
/core/target
/bin
/addons/*/target
/examples/play-slick-sample/.idea
/examples/play-slick-sample/.idea_modules
/examples/play-slick-sample/project/project
/examples/play-slick-sample/project/target
/examples/play-slick-sample/target

*.sw[po]
.cache
.project
.classpath
.settings
.DS_Store
