@(osmWays: List[OsmWay])

@main("osm way database") {
  <h2>Insert a osm way here:</h2>

  <form action="/insert" method="POST">
    <input name="location" type="text" placeholder="location of the way"/>
    <input name="tags" type="text" placeholder="enter your tags"/>
    <input type="submit"/>
  </form>

  <h2>Previously inserted osm way:</h2>
  <table>
    <tr><th>Location</th><th>Tags</th></tr>
    @for(c <- osmWays){
    <tr><td>@c.location</td><td>@c.tags</td></tr>
    }
  <tabe/>
    
}
